@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    color: #444;
}

.nav-wrapper ul li{
	font-weight: bold;
}
.sidenav-trigger{
	margin-left: 5px!important;
}
.navDark::after, .navDark::before, .nav::after, .nav::before{
	content: '';
	position: absolute;
	z-index: -1;
	border-radius: 50%;
}
.nav::after, .nav::before{
	opacity: .85;
}
.nav::before, .navDark::before{
	width: 99vh;
	height: 99vh;
	background: #eceff1;
	top: -75vh;
	left: -30vh;
}
.nav::after, .navDark::after{
	width: 100vh;
	height: 100vh;
	border: 4px dashed #eceff1;
	top: -75vh;
	left: -30vh;
}

.navDark::after, .navDark::before{
	opacity: .4;
}



.darkMode{
	background: #121212;
	color: #fafafa;
	/*opacity: 0.5;*/
}
.row-expertise{
	margin-bottom: 0!important;
}
.profile1{
	line-height: 1.1;
}
.profile2, .content{
	letter-spacing: 0.075pt;
	word-spacing: 1.5pt;
}
.expertise{
	padding: 0.5rem 1.25rem!important;
}
.expertise h5{

}
.right-align h6{
	justify-content: flex-end;
}
.col-avatar{
	position: relative;
}
.avatar{
	position: absolute;
	width: 56vh;
	height: 56vh;
	border: 4px dashed #b0bec5;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	margin-right: 0;
	right: 0;
	top: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	overflow: hidden;
	opacity: .95;
}
.avatar img{
	width: 100%;
	/*z-index: -9;*/
	border-radius: 90%;
}



   .hideFace{
   		display: none;
   }
   .button-hide-face{
		display: flex;
		align-items: center;
	}
	.menu{
		right: 0;
		bottom: 0;
	}

	h6{
		font-weight: bold!important;
	}

@media only screen and (max-width: 600px)
{
	.avatar{
		position: relative;
		width: 80vw;
		height: 80vw;
		justify-content: center;
		overflow: hidden;
		margin: 0 auto;

	}
	.avatar img{
		width: 100%;
		border-radius: 90%;
	}
	nav::before{
		width: 80vh;
		height: 80vh;
		background: #eceff1;
		top: -65vh;
		left: -35vh;
	}
	nav::after{
		width: 81vh;
		height: 81vh;
		border: 4px dashed #eceff1;
		top: -65vh;
		left: -35vh;
	}
	.l5{
		border: none;
	}
	.l5.push-l7{
		border: none;
	}
	.valign-wrapper{
		display: block!important;
	}
	.expertise-first-left img{
		width: 100%;
	}
	.expertise-first-right{
		margin: 0!important;
	}

	.right-align{
		text-align: left!important;
	}

	
	.row-expertise .expertise:nth-child(1){
		border-left: 1pt dashed #cfd8dc;
		border-bottom: 1pt dashed #cfd8dc;
	}
	.row-expertise .expertise:nth-child(2){
		border-left: 1pt dashed #b0bec5;
		border-bottom: 1pt dashed #b0bec5;
	}
	.row-expertise2 .expertise:nth-child(1){
		border-left: 1pt dashed #90a4ae;
		border-bottom: 1pt dashed #90a4ae;
	}
	
	.row-expertise2 .expertise:nth-child(2){
		border-left: 1pt dashed #78909c;
		border-bottom: 1pt dashed #78909c;
	}

	
}